mixin HEAD
	meta("UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width = device-width, initial-scale = 1")
	link(rel="stylesheet" type="text/css" href="/css/bootstrap.css")
	link(rel="stylesheet" href="/css/bootstrap-theme.css")
	link(rel='stylesheet' type="text/css" href="style.css")

mixin ANGULAR_1_6_SCRIPT
	script(src="/vendor/angular.min.js")

mixin BOTTOM_SCRIPTS
	script(src="/vendor/jquery-3.1.1.min.js")
	script(src="/vendor/bootstrap.min.js")

mixin PHRASE_SCRIPT
	script(src="")