-
	var phrases =    [ "Найбільшу владу має той, хто має владу над собою.",
	"Борода по коліна, а розуму, як у дитини.",
	"Багатий не той, хто багатий, а той, хто знає, скільки йому потрібно”.",
	"Всякий чує лише те, що розуміє.",
	"Гарний початок — половина справи.",
	"З дружиною при чужих не песться і не сварися: перше — знак дурості, друге — сказу." ];
	var getPhrase = function (){var idx = Math.floor(Math.random()*phrases.length); return phrases[idx]}

mixin HEAD_TITLE
	.container-fluid(style="background-image: url(/img/img1.jpg); background-position:center; background-size:cover; height:100%;")
		.container
			div.phrase.text-right
				span Phrase for today : &#009;
					span!= getPhrase()
			.title
				h3 Logo Title
mixin BACKGROUND_IMAGE
	.container-fluid.page-bg(style="")