include partials/head
include partials/navbar
include base-page

html
	+HEAD
	title!= title
	body
		+NAVBAR
		+BACKGROUND_IMAGE
		+HEAD_TITLE
		+CONTAINER_MD_4_CENTER
			h3 Welcome to my Receipts Blog


	+BOTTOM_SCRIPTS