body {
    margin:0;
    padding:0;
}



.container-fluid.page-bg {
    background: url(/img/home-background.jpg) center no-repeat fixed;
    background-size:cover;
    height:calc(100vh - 128px);
    width: 100%;
    position:absolute;
    opacity: 0.3;
}

.navbar {
    margin-bottom: 0;
}